.header {
    background-color: #fff;
    box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.10);

    .header-container {
        height: 60px;
        margin: 0 auto;
        padding: 1rem;
        max-width: 1440px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        .header-container__logo {
            height: 2rem;
        }
   
        .header-container__nav {
            font-weight: 500;

            .header-container__nav__list {
                list-style: none; 
                display: flex;

                .header-container__nav__list__item {
                    margin-left: 1rem;

                    .header-container__nav__list__item__link {
                        text-decoration: none;
                        color: black;

                        &:hover {
                            color: #4374E5;
                        }
                    }
                }
            }
        }

        .header-container__mobile-menu-enter {
            display: none;
        }

        .header-container__mobile-menu-exit {
            cursor: pointer;
        }
    }
}

@media screen and (max-width: 550px) {
    .header {
        position: relative;

        .header-container {
            .header-container__nav {
                display: none;
            }

            .header-container__logo {
                height: auto;
            }
            .header-container__mobile-menu-enter {
                display: block;
                cursor: pointer;
            }
        }
    }
}