.main {
    display: flex;
    justify-content: center;
    min-height: 85vh;

    .main-container {
        margin: 1rem;
        display: flex;
        gap: 2rem;
        max-width: 1440px;
        align-items: center;
    }

    .main-container--blured {
        filter: blur(5px);
        z-index: -1;
    }
}

@media screen and (max-width: 550px) {
    .main {
        .main-container {
            margin: 5rem auto;
            flex-direction: column;
        }
    }
}
